


/************************************/
/* Fonts are stored to avoid Google */
/************************************/


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
    local('Roboto-Light'),
    url('fonts/roboto/light.ttf')
    format('truetype'); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'),
    local('Roboto-LightItalic'),
    url('fonts/roboto/lightitalic.ttf')
    format('truetype'); }


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
    local('Roboto-Regular'),
    url('fonts/roboto/regular.ttf')
    format('truetype'); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url('fonts/roboto/italic.ttf')
    format('truetype'); }


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('fonts/roboto/bold.ttf')
    format('truetype'); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'),
    local('Roboto-BoldItalic'),
    url('fonts/roboto/bolditalic.ttf')
    format('truetype'); }



/************************************/
/* Fonts are stored to avoid Google */
/************************************/


@font-face {
  font-family: 'Robono';
  font-style: normal;
  font-weight: 300;
  src: local('Robono Light'),
    local('Robono-Light'),
    url('fonts/robono/light.ttf')
    format('truetype'); }

@font-face {
  font-family: 'Robono';
  font-style: italic;
  font-weight: 300;
  src: local('Robono Light Italic'),
    local('Robono-LightItalic'),
    url('fonts/robono/lightitalic.ttf')
    format('truetype'); }


@font-face {
  font-family: 'Robono';
  font-style: normal;
  font-weight: 400;
  src: local('Robono Regular'),
    local('Robono-Regular'),
    url('fonts/robono/regular.ttf')
    format('truetype'); }

@font-face {
  font-family: 'Robono';
  font-style: italic;
  font-weight: 400;
  src: local('Robono Italic'),
    local('Robono-Italic'),
    url('fonts/robono/italic.ttf')
    format('truetype'); }


@font-face {
  font-family: 'Robono';
  font-style: normal;
  font-weight: 700;
  src: local('Robono Bold'),
    local('Robono-Bold'),
    url('fonts/robono/bold.ttf')
    format('truetype'); }

@font-face {
  font-family: 'Robono';
  font-style: italic;
  font-weight: 700;
  src: local('Robono Bold Italic'),
    local('Robono-BoldItalic'),
    url('fonts/robono/bolditalic.ttf')
    format('truetype'); }
